#game {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-areas: 
        "player-olive player-olive status"
        "board        board        status"
        "player-tan   player-tan   status";
        justify-items: flex-start;
}
