.tokenWrapper {
    display:grid;
    padding: 0;
    height: 100%;
    padding: 5px;
    position: relative;
}

.token {
    border-radius: 50%;
    border-width: 5px;
    border-style:solid;
    height: 3em;
    width: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

    grid-row: 1;
    grid-column: 1;

    position: relative;
}

.tokenGlow{
    content:"";
    display:block;
    border: 1px solid red;
    border-radius: 50%;
    height: 3em;
    width: 3em;
    margin: auto;
    grid-row: 1;
    grid-column: 1;
    box-shadow: 0px 0px 5px 5px red;
}

.tan {
    background-color:darkgoldenrod;
}

.olive {
    background-color: olivedrab;
}

.skirmish {
    border-color:  #7c00adcb;
}

.assault {
    border-color:  #d14d01ce;
}
