.tokenWrapper {
    position: relative;
    left: 5%;
    top: 5%;
    height: 90%;
    width: 90%;
}

.token {
    border-radius: 50%;
    border-width: 5px;
    border-style:solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tokenGlow{
    border-radius: 50%;
    box-shadow: 0px 0px 7px 7px red;
    z-index: 1;
}

/* token, glow */
.bigThing {
    position: absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.dragger {
    z-index: 2 !important;
}

.tan {
    background-color:darkgoldenrod;
}

.olive {
    background-color: olivedrab;
}

.skirmish {
    border-color:  #7c00adcb;
}

.assault {
    border-color:  #d14d01ce;
}
