.playerSide {
    /* background-color:khaki; */
    display:flex;
    align-items:center;
    justify-self: stretch;
}

.playerSideContent {
    display: flex;
    position: static;
    /* background-color: yellow; */
    justify-items: flex-start;
}

.playerSide h1{
    position:relative;
    top:0px;
}

.playerSideTokens {
    display:grid;
    grid-template-columns: repeat(5,1fr);
    flex-wrap: wrap;
    /* background-color: yellow; */
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%
}
