.playerSide {
    display: flex;
    align-items: center;
}

.playerSide h1 {
    font-size: x-large;
    padding: 1em;
}

.playerSideTokens {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}