.playerSide {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
}

.playerSide h1 {
    font-size: x-large;
    padding: 1em;
}

.playerSideTokens {
    display: grid;
    grid-template-columns: repeat(5, 6vmin);
    grid-template-rows: repeat(2, 6vmin);
}
