#boardArea {
    grid-area: board;
    display: grid;
    align-items: flex-end;
    height: 100%;
    width: 100%;
}

#board {
    display: grid;
    position:relative;
    margin: auto;
}

#board .boardCell {
    background-color: linen;
    border: 1px solid black;
    width: 6vmin;
    height: 6vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

#board .boardCell.valid-move-target {
    background-color: rgb(91, 204, 91);
}

#board .boardCell.current-move-target {
    background-color: green;
}

#board .frame.valid-attack-target  {
    border: solid 10px  rgb(218, 33, 33);
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

#board .boardCell.current-attack-target {
    background-color: rgb(128, 0, 0);
}
