#boardArea {
    grid-area: board;
    /* background-color: pink; */
    display: grid;
    align-items: flex-end;
    height: 100%;
    width: 100%;
}

#board {
    display: grid;
    /* grid-template-rows: (inline) */
    position:relative;
    margin: auto;
}

#board .boardCell {
    background-color: linen;
    border: 1px solid black;
    width: 6vmin;
    height: 6vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

#board .boardCell.valid-target {
    background-color: green;
}
