.tokenWrapper {
    position: relative;
    left: 5%;
    top: 5%;
    height: 90%;
    width: 90%;
    z-index: 1;
}

.token {
    border-width: 5px;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tokenGlow {
    box-shadow: 0px 0px 7px 7px red;
    z-index: 1;
}

.healthBarMax {
    position: absolute;
    left: 5%;
    width: 90%;
    top: 80%;
    height: 8%;
    border: 1px solid black;
    background-color: white;
    z-index: 3;
}

.healthBarCurrent {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    /* width: inline style */
    background-color: green;
}

/* token, glow */
.fullDisc {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-sizing: border-box;
}

.dragger {
    z-index: 2 !important;
}

.tan {
    background-color: darkgoldenrod;
}

.olive {
    background-color: olivedrab;
}

.skirmish {
    border-color: #7c00adcb;
}

.assault {
    border-color: #d14d01ce;
}
