#board .boardCell {
    border: 1px solid black;
    background-color: linen;
    position: relative;
}

#board .boardCell.valid-move-target {
    background-color: rgb(116, 245, 116);
}

#board .boardCell.current-move-target {
    background-color: rgb(0, 151, 0);
}

#board .boardCell.is-hovered {
    background-color: rgb(0, 255, 255) !important;
}

#board .frame.valid-attack-target {
    border: solid 1vmin rgb(240, 121, 121);
    box-sizing: border-box;

    position:absolute;
    width: 100%;
    height: 100%;
}

#board .frame.current-attack-target {
    border: solid 1vmin rgb(155, 0, 0);
    box-sizing: border-box;
    
    position:absolute;
    width: 100%;
    height: 100%;
}
